<a href="https://colab.research.google.com/github/Bhuvanchalasani/NlP/blob/main/Untitled_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from textblob import TextBlob
import numpy as np

In [ ]:
csv_path = 'text_data.csv'
df = pd.read_csv(csv_path)

In [ ]:
df.head()

       textID                                      selected_text
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh
1  96d74cb729                                           exciting
2  eee518ae67                                          Recession
3  01082688c6                                        happy bday!
4  33987a8ee5                                        I like it!!

In [ ]:
def get_sentiment_polarity(text):
    analysis = TextBlob(text)
    return analysis.sentiment.polarity

In [ ]:
df['Polarity'] = df['selected_text'].apply(get_sentiment_polarity)

In [ ]:
df['Polarity'] = np.where(df['Polarity'] > 0, 'Positive', np.where(df['Polarity'] < 0, 'Negative', 'Neutral'))

In [ ]:
output_csv_path = 'sentiment_analysis.csv'
df[[ 'selected_text', 'Polarity']].to_csv(output_csv_path, index=False)

In [ ]:
csv_path = 'sentiment_analysis.csv'
df = pd.read_csv(csv_path)

In [ ]:
df.head()

                                       selected_text  Polarity
0  Last session of the day  http://twitpic.com/67ezh   Neutral
1                                           exciting  Positive
2                                          Recession   Neutral
3                                        happy bday!  Positive
4                                        I like it!!   Neutral

In [ ]:
output_excel_path = 'sentiment_analysis.xlsx'
df[[ 'selected_text', 'Polarity']].to_excel(output_excel_path, index=False)